BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "p1_move_left" SITE "B4" ;
LOCATE COMP "p1_move_right" SITE "B5" ;
LOCATE COMP "start" SITE "B6" ;
LOCATE COMP "vga_b" SITE "F5" ;
LOCATE COMP "vga_g" SITE "E3" ;
LOCATE COMP "vga_r" SITE "B1" ;
LOCATE COMP "vga_h_sync" SITE "C1" ;
LOCATE COMP "vga_v_sync" SITE "D2" ;
IOBUF PORT "p1_move_left" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p1_move_right" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "start" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS25 ;
